* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}
/* Header and Navbar styles */
header {
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
}
.logo{
    padding-left: 15%;
}
.logo-img{
    height: 80px;
}
ul {
    list-style: none;
}
nav{
    padding-right: 15%;
}
nav ul li {
    display: inline-block;
    position: relative;
    font-size: 36px;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #ffffff;
} 
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    padding: 20px;
    min-width: auto
}
nav ul li ul li{
    font-size: 22px;
}
nav ul li ul li:hover {
    text-decoration: underline;
}
nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

/* Main styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner {
    padding: 15% 0 15% 0;
}